body {
    margin: 0;
    padding: 0;
    background: black;
    color: white;
  }
  
a {
    text-decoration: white;
    text-decoration: none;
}

.header {
    height: 13vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-bottom: rgb(58, 58, 58) 3px solid;
    position: fixed;
    width: 100%;
}

.header > nav {
    padding: 40px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav > a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
}


nav > a:hover {
    color: orange;
    transition: 0.5s ease-in-out;
}

.header .xtreme h1 {
    visibility: hidden;
}

.xtremeIndex {
    margin-top: 0px;
    height: 70vh;
    width: 100%;
    padding-top: 6cm;
    word-wrap: break-word;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.xtremeIndex > h1 {
    color: rgb(241, 241, 241);
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}

.xtremeIndex > p {
    margin: 15px auto;
    width: 80%;
    font-size: 24px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
}

#xtremeShow > p {
    margin: 20px auto;
    font-style: italic;
}

.line {
    width: 90%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    border-radius: 5px;
}

#xtremeShow {
    background-image: url(extremeShowcase.png);
}

#xtremeSnow {
    background-image: url(snowPic.jpg);
}

#xtremeWind {
    background-image: url(windPic.jpg);
}

#xtremeBike {
    background-image: url(bike2Pic.jpg);
}

#xtremeSurf {
    background-image: url(wavePic.jpg);
}

a {
    text-decoration: none;
}

a > .button {
    background-color: hsl(0, 70%, 52%);
    width: 120px;
    height: 75px;
    margin: 0 auto;
    margin-top: -20px;
    border: solid 2px #ffffff;
}

a .button > p {
    padding: 5px 0;
    color: white;
    font-weight: 650;
    font-size: 22px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin-top: 22px;
}
a > .button:hover{
    margin-top: -25px;
    margin-bottom: 17px;
    box-shadow: 0px 8px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}
a > .button:active{
    margin-top: -23px;
    box-shadow: none;
    background-color: seagreen;
    transition: 0.1s;
}

.footer {
    border-top: rgb(58, 58, 58) 3px solid;
    height: 200px;
    width: 100%;
}

.footText > p {
    margin: 30px auto;
    width: 98%;
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
}

.footer .socials {
    width: 98%;
    margin: 30px auto;
    border: 1px solid rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(1, 50px);
}

.footer .socials div {
    border: white 2px solid;
    height: 100%;
}

.footer .socials div p {
    color: white;
    font-weight: 650;
    font-size: 22px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin-top: 12px;
}

.footer .socials div:hover {
    font-weight: 700px;
    text-decoration: underline 3px solid white;
    transition: 0.3s;
}

.item a p.new-label span{
    position: relative;
    content: 'INSTAGRAM'
}
.item:hover a p.new-label span{
    display: none;
}
.item:hover a p.new-label:after{
    content: 'teodorridder';
}

.item2 a p.new-label span{
    position: relative;
    content: 'FACEBOOK'
}
.item2:hover a p.new-label span{
    display: none;
}
.item2:hover a p.new-label:after{
    content: 'Teodor Slaatsveen Riddervold';
}
.item3 a p.new-label span{
    position: relative;
    content: 'E-POST';
    text-decoration: none;
}
.item3:hover a p.new-label span{
    display: none;
    text-decoration: none;
}
.item3:hover a p.new-label:after{
    content: 'Teodor.riddervold@gmail.com';
    text-decoration: none;
}

@media screen and (max-width: 1027px) {
    .header {
        position: static;
        height: fit-content;
        display: flex;
        justify-content: space-evenly;
    }
    .header > nav {
      flex-direction: column;
    }
    .header > nav a {
        margin: 5px ;
    }
    .header .xtreme {
        margin-right: 20px;
    }
    .header .xtreme > h1 {
        font-family: 'Raleway', sans-serif;
        visibility: visible;
        color: orange;
        font-size: 30px;
        font-weight: 700;
    }

    .xtremeIndex {
        height: 118vh;
    }

    #xtremeBike > h1{
        color: black;
    }
  }
