* {
    margin: 0;
}
.header-box {
    background-color: black;
    min-height: 10vh;
    display: flex;
    color: aliceblue;
}

.container {
    margin: 0;
    background-image: url(lastned.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    padding-top: 46vh;
    padding-left: 50px;
    font-size: 30px;
}

#button button {
    height:8vh;
    width: 15vw;
    
}
    
