* {
    margin: 0;
    max-height: 100vh;
}

.header {
    font-family: 'Ubuntu', sans-serif;
    min-height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 50px;
}

.menybar {
  background-color: #000000;
  min-width: 09vw;
  height: 7vh;
  color: #ffffff;
  padding: 6px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  font-family: 'Raleway';
  
}

.blackout #Hjelpeknapp {
  position: sticky;
  bottom: 1vw;
  right: 1vw;
}

.menybar:hover, .menybar:focus {
  background-color: #961ae5;
}

.menybar {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
}





.show {
  display:block;
}

.button{
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}



.button span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #454545;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

* {
    margin: 0;
}

.header {
    font-family: 'Ubuntu', sans-serif;
    min-height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 50px;
}

.container-ext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-top: 60px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Kanit';
}

.opponent-container {
    position: sticky;
    bottom: 10vh;
    background-color: rgb(12, 12, 12);
    width: 100%;
    height: 10vh;
    border-top: 2px solid rgb(114, 114, 114);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
    color: white;
}

#opponent-picker {
    font-weight: 700;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: black;
}

.hover-text:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #4F95DA;
}

.container-int {
    background-color: black;
    width: 70vw;
    height: 40vh;
    border: 2px solid white;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
}

.betting-ui {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    width: 30vw;
    height: 35vh;
}

#gamble-count {
    margin-top: 0px;
    width: 170px;
}

.choice {
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

.choice .random {
    font-weight: 700;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.choice #yourChoice {
    font-weight: 700;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: black;
}

.body-div {
    background-color: rgb(83, 83, 83);
    min-height: 90vh;
    width: 100%;
}

#account {
    display: flex;
}

span {
    color: black;
}

.hide {
    display: none;
}

img {
    width: 100px;
    height: 300px;
}

#pot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 60px;
    border: 1px solid red;
    font-size: 25px;
}

.icons {
    color: white;
    font-size: 50px;
    width: 5vw;
}

#einar-choice {
    margin: 0;
}

#your-choice {
    font-size: 15px;
}

.log-in {
    position: fixed;
    top: 20vh;
    right: 34vw;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding: 20px 50px;
    width: 26vw;
    height: 50vh;
}

.menybar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-in-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 8vh;
    margin-top: 20px;
}

#log-in-input-id {
    height: 30px;
    width: 100%;
    font-size: 15px;
}

#log-in-input-name {
    height: 30px;
    width: 100%;
}

#log-in-button {
    align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

#log-in-button:hover,
#log-in-button:focus {
    background-color: #16437E;
    color: #ffffff;
}

#log-in-button:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}

#log-in-button:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}

#signup-button {
    margin-left: 17vw;
}

#signup-button:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #4F95DA;
}

.justify-center {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.line {
    margin-top: 6vh;
    height: 2px;
    width: 100%;
    background-color: black;
}

.signup {
    position: absolute;
    top: 20vh;
    right: 34vw;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding: 20px 50px;
    width: 26vw;
    height: 50vh;
}

.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 8vh;
    margin-top: 20px;
}

#signup-input-name {
    height: 30px;
    width: 100%;
}

#register-button {
    align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

#register-button:hover,
#register-button:focus {
    background-color: #16437E;
    color: #ffffff;
}

#register-button:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}

#register-button:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}

#log-in-change {
    margin-left: 0vw;
}

#log-in-change:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #4F95DA;
}

#opponent-account {
    color: white;
}

.blackout {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
}

.footer {
    position: sticky;
    width: 92.6vw;
    left: 0;
    bottom: 0;
    font-family: 'Ubuntu', sans-serif;
    min-height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 50px;
}

#margin-top-text {
    margin-top: 50px;
}

.container-button {
    color: white;
}


/*button css*/
.center {
    width: 180px;
    height: 60px;
}

.btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #ff91eb;
    outline: none;
    transition: 1s ease-in-out;
}

.btn:hover {
    transition: 0.3s ease-in-out;
    background: #4F95DA;
}

.btn:hover {
    transition: 0.3s ease-in-out;
    background: #da4fda;
}

.btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
}

#your-choice {
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    margin-top: 10px;
}